$light-primary: mat-palette($mat-grey, 100, 500, 300);
$light-accent: mat-palette($mat-teal, 400);
$light-warn: mat-palette($mat-deep-orange, 200);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
