$light-primary: mat-palette($mat-teal, 200);
$light-accent: mat-palette($mat-grey, 200, 500, 300);
$light-warn: mat-palette($mat-red, 400);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$light-typography: mat-typography-config(
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(12px, 20px, 400),
  $input: mat-typography-level(inherit, 1.125, 400),
  $subheading-2:  mat-typography-level(12px, 28px, 400)
);