<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        blog
      </mat-panel-title>
      <mat-panel-description>
        nnecec-blog
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-nav-list role="list">
      <mat-list-item>
        <a routerLink="/home">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/about">About</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        luoo
      </mat-panel-title>
      <mat-panel-description>
        nnecec-luoo
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-nav-list role="list">
      <mat-list-item>
        <a>Config</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>