@import "~@angular/material/theming";

@mixin account-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .account-container {
    .info {
      background-color: mat-color($primary);
      color: white;
    }
  }
}
